* {
 box-sizing: border-box;
 -moz-box-sizing: border-box;
 -webkit-box-sizing: border-box;
 font-family: Verdana, "Helvetica Neue", Verdana, Ubuntu, sans-serif;
}

html {
 overflow-y: scroll;
}

body {
 padding:0;
 margin:0;
 background:#f2f2f2;
}

input[type=submit] {
 cursor:pointer;
}

a:hover {
 text-decoration:underline;
}

img {
 border:0;
}

img.map {
 max-width:100%;
}

li {
 list-style-type: none;
}

hr {
 display: none;
}

h2 {
 font-size: 1.2em;
 margin:0;
}

h3 {
 font-size: 1.1em;
 margin:0;
}

h4 {
 font-size: 0.9em;
 margin:0;
}

.unicon {
 font-size: 1.6em;
 vertical-align: middle;
 font-weight:normal;
}

.fineprint {
 font-size: 0.8em;
}

menu.horiz h3 {
 display: inline;
}

.item menu.horiz li {
 display: inline-block;
 margin-left:1em;
}

textarea {
 border:1px solid #999;
 border-radius:3px;
 padding:0.25em;
 font-size: 1em;
}

#biglogo {
 display:block;
 width:226px;
 height:43px;
 margin:31px auto 33px;
}

#about {
 text-align: center;
 width:90%;
 margin:2em auto;
 font-style:italic;
}

#about .big {
 font-size:1.45em;
}

#about h2 {
 font-family: georgia,serif;
 font-size: 2.25em;
 font-weight: normal;
}

#about p, #about p a {
 font-family: georgia,serif;
}

.landing form {
 width:90%;
 margin:1.5em auto 2em;
 text-align:left;
}

.landing form label {
 font-weight: bold;
 font-size:0.85em;
 margin: 0.65em 0;
 display:block;
}

.landing form input {
 display:block;
 width:100%;
 border:1px solid #a1a1a1;
 border-radius:5px;
 background:#fff;
 box-shadow: 1px 1px 1px rgba(0,0,0,0.1);
 padding:8px;
 -webkit-appearance: none;
}

.landing form input:first-child {
 border-bottom:1px solid #a1a1a1;
}

.landing form input[type=submit] {
 display:block;
 -webkit-appearance: none;
 background:#849a7d;
 border-radius:5px;
 border:0;
 height: 34px;
 margin: 16px auto 20px;
 color:#fff;
 font-weight:600;
 box-shadow: 1px 1px 2px rgba(0,0,0,0.1);
}

.signup h2 {
 margin-bottom:1em;
}

.flash {
 font-weight: bold;
 clear:left;
 margin:0.6em;
 padding:0.6em;
 border-radius:0.3em;
 background: #daeec6;
}

.flash.err {
 background:#f7dada;
}

@media (min-width:40em) {
 #biglogo {
  margin:2em 0 2em 2em;
  float:left;
 }

 body {
  font-size: 0.85em;
 }

 .login form {
  background:#fafafa;
  padding:1em;
  width:20em;
  margin:2em;
  border-radius:3px;
  float:right;
 }
 .signup form {
  background:#fafafa;
  padding:1em;
  width:20em;
  margin:2em auto;
  border-radius:3px;
 }
 #about {
  clear:left;
  text-align: left;
  margin:2em;
  max-width:40em;
 }

 #about .big {
  font-size:1.85em;
 }
}

body.landing > p {
 width:90%;
 margin:15px auto;
 text-align: center;
}

#header {
 height:3em;
 background:#eaeaea;
 background:#eee;
}

#header h1 {
 color:#5c8a2f;
 margin:0.15em 0.6em;
 font-weight:bold;
}

#header > a > img {
 /*width:135px;
 height:26px;*/
 height:1.75em;
 margin: 0.65em;
}

#header div {
 /*float:right;*/
 position:absolute;
 top:0;
 right:0;
}

@media (min-width:47em) {
 #header div {
  display:none;
 }
}

#header div img {
 margin:0.5em 0.6em 0.5em 0.2em;
 width:2em;
 height:2em;
}

#search {
 display:block;
 padding:1em 0.5em;
 background:#eee;
}

#body {
 margin-top: 0.6em;
}

@media (min-width:45em) {
 #search {
  position:absolute;
  top:0;
  right:3.5em;
  width:30em;
  padding:0;
  z-index:10;
  background:none;
 }
}

@media (min-width:47em) {
 #search {
  right:0;
 }
}

#search table, #search td:first-child, #search td:first-child input {
 width:100%;
}

#search input {
 padding:0.5em;
 border:0/*1px solid #aaa*/;
 border-radius:3px;
 font-size: 1em;
 background:#fafafa;
}

#search input[type=submit] {
 margin-left: 5px;
 font-weight:bold;
 color:#000;
 background:#ccc;
}

#menu {
 background:#eee;
}

#copyright {
 font-size: 0.85em;
 padding: 0 1em;
 color:#999;
}

#menu > a {
 display:block;
 text-align:center;
 font-size: 0.9em;
 font-weight: bold;
 padding: 0.5em 0;
 background:#ddd;
}

.menu-showing {
 display: none;
}

@media (min-width:47em) {
 #menu {
  display:block;
  position:absolute;
  left:0;
  top:3em;
  padding-top: 1em;
  margin-left:0;
  width:16em;
  background:#eee;
 }

 .menu-button {
  display: none;
 }
 .menu-showing {
  display: inline;
 }

 body:not(.landing) > a:first-child {
  display:block;
  position:fixed;
  left:0;
  top:3em;
  bottom:0;
  padding-top: 1em;
  margin-left:0;
  width:16em;
  background:#eee;
 }

 #menu > a {
  display:none;
 }

 #header {
  margin-left:0;
 }

 #full {
  margin-left:16em;
 }

 .flash {
  margin-left:16.6em;
 }

 #full .profile {
  margin-top: 1.5em;
 }

 #body {
  margin-left:16em;
  position:relative;
 }
}

#menu > table {
 margin:0 0.5em;
}

#menu table img {
 width:50px;
 height:50px;
}

#menu > table tr:first-child td:first-child {
 width:62px
}

#menu table tr:first-child a {
 font-weight:bold;
}

#menu menu {
 margin:0;
 padding:0.8em 0 0 0;
 list-style-type:none;
}

#menu li {
 padding:0.5em 1em;
 font-size: 1em;
 font-weight: bold;
}

#menu li.selected {
 background:#e1edc5;
}

#menu li img {
 width:1.25em;
 height:1.25em;
 margin:0 0.625em 0 0;
 vertical-align:middle;
}

.activity {
 clear:left;
}

.white, .item {
 background:#fcfcfc;
 margin:0 0.6em 0.6em;
 border-radius:0.3em;
}

.item {
 clear:left;
 padding:0.4em 0.6em;
}

.item.reverse {
 background: #87a767;
}

.item.reverse * {
 color: #fff;
}

.item > p {
 margin:1em 0 0 0;
}

.item > form {
 margin:0.5em 0 0 0;
}

.item textarea {
 width:100%;
}

/*.item > h2 {
 margin-bottom: 0.75em;
}*/

.item > h3 {
 margin:1.5em 0 0.5em;
}

.item > h3:first-child {
 margin:0 0 0.5em;
}

.item menu {
 list-style-type:none;
 /*margin:0.75em 0 0;*/
 margin:1em 0 0 0;
 padding:0;
}

.item :first-child {
 margin-top:0;
}

.item menu li {
 margin: 0.5em 0;
}

@media (min-width:63em) {
 .profile .item.right {
  margin:50px 8px 8px;
 }

  menu.bar .notonly {
  display:none;
 }

 body.right #body {
  margin-right:17.4em;
 }

 #right {
  position: absolute;
  top:0;
  right:-17.4em;
  width:18em;
 }
}

@media (max-width:62em) {
 .item.right.only {
  display:none;
 }
}

.item blockquote {
 position:relative;
 margin:12px 24px;
 padding:0;
 font-size:0.95em;
}

.item blockquote:before {
 content:"“";
 font-size:2em;
 position:absolute;
 top:-0.35em;
 left:-0.5em;
 color:#ddd;
}

.item blockquote:after {
 content:"”";
 font-size:2em;
 position:absolute;
 bottom:-0.75em;
 right:-0.5em;
 color:#ddd;
}

.item .actions {
 position:relative;
 border-top:1px solid #dfdfdf;
 margin:0 3px;
 padding-top:5px;
 color:#aaa;
}

.item .icons {
 position:absolute;
 right:0;
 top:0.5em;
 color:#5c8a2f;
 font-weight:bold;
 font-size:0.9em;
}

.item .icons img {
 width:16px;
 height:16px;
 vertical-align:middle;
 margin:0 5px 0 12px;
}

.actions > form, .basics > form {
 display:inline;
}

.actions > form input, button.text {
 cursor:pointer;
 margin:0;
 padding:0;
 border:0;
 background:none;
 color:#5c8a2f;
 font-size:0.9em;
 font-weight:bold;
}

button.text.large {
 font-size:1.1em;
}

.basics > form input {
 margin:0.45em 0.65em 0.55em 0;
 padding:0.35em 0.5em;
 background:#5c8a2f;
 border:0;
 border-radius:4px;
 color:#fff;
 font-size:0.9em;
 font-weight:bold;
}

.item .timestamp {
 color:#666;
 font-style:italic;
 font-size:0.8em;
 font-weight:normal;
 margin: 0 0 0.5em;
}

.activity .item a {
 font-weight: bold;
}

.profile {
 position:relative;
}

.profile > img {
 -moz-transform:rotate(-2deg);
 -webkit-transform:rotate(-2deg);
 -o-transform:rotate(-2deg);
 border:6px solid #fff;
 box-shadow:2px 2px 3px #c0c0c0;
 margin:0 15px 15px;
 width:200px;
 height:200px;
 float:left;
}

.basics h1 {
 font-size: 1.3em;
 font-weight:normal;
 margin: 0.85em 0 0.25em;
}

.profile .city {
 font-size:0.9em;
 color:#666;
 margin:0.5em 0;
}

.profile .bio {
 overflow:hidden;
 margin:0.4em 0.6em 1em 0;
}

.profile .section {
 clear:both;
}

.people ul {
 list-style-type:none;
 padding:0;
}

.people li {
 margin:5px;
}

.section {
 padding:10px;
 margin:10px;
 background:#fff;
 border-radius:3px;
}

.section .person img {
 width:40px;
 height:40px;
 vertical-align:middle;
 margin: 4px 10px 4px 0;
}


@media (max-width:28em) {
 .profile img {
  width:120px;
  height:120px;
 }

 .profile .bio {
  overflow:hidden;
  clear:both;
  margin:0 10px;
 }

}

@media (min-width:28em) and (max-width:47em) {
 .profile img {
  width:150px;
  height:150px;
 }
}

#profileinfo {
 padding:10px;
 background:#ccc;
 border-radius:3px;
 margin:10px;
}

.icon {
 width:20px;
 height:20px;
}

a {
 color:#5c8a2f;
 text-decoration:none;
}

.error {
 font-weight:bold;
 color:#a00;
 font-size:0.9em;
}

h3.label {
 display:none;
}

menu.bar {
 list-stype-type:none;
 margin:0;
 padding:0;
 clear:left;
}

menu.bar li {
 display:inline-block;
 background:#e6e6e6;
 margin:8px 0 0 8px;
 padding:8px;
 border-radius:3px;
 font-weight:bold;
}

menu.bar li.selected {
 background:#fcfcfc;
}

menu.bar li a {
 font-weight:bold;
}

@media (max-width:28em) {
 menu.bar {
  text-align:center;
 }
}

.setup {
 max-width: 40em;
}

.item h3 {
 margin-top: 0.5em;
 line-height: 2em;
}

.setup p {
 line-height:1.5em;
}

.setup input[type=text] {
 width:35em;
 max-width: 100%;
}

.welcome {
 font-size: 0.9em;
 margin-top:0.6em;
 background:#f7f5b7;
}

.welcome button {
 float: right;
 background: none;
 border: 0;
 color: #8f844f;
 font-weight: bold;
 margin: 0;
 padding: 0;
}

.welcome li {
 list-style-type: disc;
 margin-top:0.75em;
}

.welcome p {
 margin-bottom: 0;
}

button {
 cursor:pointer;
 border-radius:3px;
}

.actions input[type=submit]:hover, button:hover {
 text-decoration:underline;
}

button.yes {
 background: #5c8a2f;
 border:0;
 padding:0.5em;
 color: #fff;
 font-weight: bold;
 margin-right:1em;
}

button.yes:first-child {
 margin-left:0.4em;
}

button.yes:last-child {
 margin-right:0;
}

button.no {
 border:0;
 padding:0.5em;
 background: #900;
 color: #fff;
 font-weight:bold;
 margin-right:1em;
}

button.red {
 border:0;
 padding:0;
 margin:0;
 color: #900;
 background: none;
 font-weight:bold;
}

.category {
 margin-top:0.5em;
}

.category a {
 white-space: nowrap;
}

div.tag {
 display: inline-block;
 width: 11em;
 margin: 0.5em 0;
}

div.tag input:checked + span {
 font-weight: bold;
}

ul.keywords {
 padding-left: 1em;
 margin:0;
}

ul.keywords li a:first-child {
 font-weight:bold;
 font-size:0.8em;
}

p.right {
 text-align:right;
}

p.right {
 text-align:right;
}

table.post {
 margin:0;
 padding:0;
 border-collapse: collapse;
}

table.post td {
 vertical-align:bottom;
 border:0;
}

form.post-next h2 {
 margin: 0.75em 0;
}
