/* Copyright 2013 CommonGoods Network, Inc.
 
   This file is part of Kindista.
 
   Kindista is free software: you can redistribute it and/or modify
   it under the terms of the GNU Affero General Public License as published by
   the Free Software Foundation, either version 3 of the License, or
   (at your option) any later version.
 
   Kindista is distributed in the hope that it will be useful,
   but WITHOUT ANY WARRANTY; without even the implied warranty of
   MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
   GNU Affero General Public License for more details.
 
   You should have received a copy of the GNU Affero General Public License
   along with Kindista.  If not, see <http://www.gnu.org/licenses/>.
*/

@charset "UTF-8";

@font-face {
  font-family: 'Ubuntu';
  font-style: normal;
  font-weight: normal;
  src: url('fonts/ubuntu.eot');
  src: local('Ubuntu'),
       url('fonts/ubuntu.eot?#iefix') format('embedded-opentype'),
       url('fonts/ubuntu.woff') format('woff'),
       url('fonts/ubuntu.ttf') format('truetype');
}

@font-face {
  font-family: 'Ubuntu';
  font-style: italic;
  font-weight: normal;
  src: url('fonts/ubuntu-italic.eot');
  src: local('Ubuntu Italic'),
       url('fonts/ubuntu-italic.eot?#iefix') format('embedded-opentype'),
       url('fonts/ubuntu-italic.woff') format('woff'),
       url('fonts/ubuntu-italic.ttf') format('truetype');
}

@font-face {
  font-family: 'Ubuntu';
  font-style: normal;
  font-weight: 500;
  src: url('fonts/ubuntu-med.eot');
  src: local('Ubuntu Medium'),
       url('fonts/ubuntu-med.eot?#iefix') format('embedded-opentype'),
       url('fonts/ubuntu-med.woff') format('woff'),
       url('fonts/ubuntu-med.ttf') format('truetype');
}

@font-face {
  font-family: 'Ubuntu';
  font-style: normal;
  font-weight: bold;
  src: url('fonts/ubuntu-bold.eot');
  src: local('Ubuntu Bold'),
       url('fonts/ubuntu-bold.eot?#iefix') format('embedded-opentype'),
       url('fonts/ubuntu-bold.woff') format('woff'),
       url('fonts/ubuntu-bold.ttf') format('truetype');
}

* {
 box-sizing: border-box;
 -moz-box-sizing: border-box;
 -webkit-box-sizing: border-box;
 font-family: Ubuntu, Roboto, "Segoe UI", "Helvetica Neue", Tahoma, sans-serif;
}

body {
 font-size: 0.85em;
}

body.splash {
 background: url('hands.jpg') no-repeat;
 background-size: 100% auto;
}

html {
 overflow-y: scroll;
}

body {
 padding:0;
 margin:0;
 background:#fff;
}

body.js .no-js {
 display:none;
}

input[type=submit] {
 cursor:pointer;
}

a:hover, a:focus, a:active {
 text-decoration:underline;
}

h1:first-child {
 margin-top: 0;
}

img {
 border:0;
}

img.map {
 max-width:100%;
}

li {
 list-style-type: none;
}

hr {
 display: none;
}

h2 {
 font-size: 1.3em;
 margin:0;
}

h3 {
 font-size: 1.1em;
 margin:0;
}

h4 {
 font-size: 0.9em;
 margin:0;
}

select {
 max-width: 20em;
}

select.identity, select.distance-selection, select.message-filter {
  background: #fbfbfb;
  border:1px solid #999;
  padding: 0.3em 0.4em;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
  -webkit-box-shadow: 1px 1px 1px #ddd inset;
  -moz-box-shadow: 1px 1px 1px #ddd inset;
  box-shadow: 1px 1px 1px #ddd inset;
}

form.group-activity-selection div {
 margin-top: 0.4em;
 display: inline-block;
}

form.group-activity-selection strong {
 margin-right: 0.7em;
}

form.group-activity-selection input[type=checkbox] {
 margin-left: 0;
 vertical-align: middle;
}

form.group-activity-selection label {
 margin-right: 0.5em;;
}

select.profile-gratitude {
 margin-bottom: 0.3em;
}

.create-event select.event-host {
 background: #fff;
 padding-top: 0.55em;
 max-width: none;
}

.unicon {
 font-size: 1.6em;
 vertical-align: middle;
 font-weight:normal;
}

.fineprint {
 font-size: 0.8em;
}

menu.horiz h3 {
 display: inline;
}

menu.horiz strong {
 float: left;
}

menu.horiz {
 margin: 0;
 padding:0;
 line-height: 2em;
}

menu.horiz li {
 display: inline-block;
 font-weight: bold;
 margin-left:1em;
}

input[type=text], input[type=password] {
 font-size: 1em;
 border: 1px solid #444;
 margin: .3em 0;
 padding: 0.4em 0.4em;
 border-radius: 0.25em;
 box-shadow: 1px 1px 0px rgba(255,255,255,0.2), inset 1px 1px 0px rgba(209,209,209,0.3);
}

textarea {
 border:1px solid #999;
 border-radius:3px;
 padding:0.25em;
 font-size: 1em;
}

#biglogo {
 display:block;
 width:226px;
 height:43px;
 margin:31px auto 33px;
}

#about {
 text-align: center;
 width:90%;
 margin:2em auto;
 font-style:italic;
}

#about .big {
 font-size:1.45em;
}

#about h2 {
 font-family: georgia,serif;
 font-size: 2.25em;
 font-weight: normal;
}

#about p, #about p a {
 font-family: georgia,serif;
}

.landing form {
 width:90%;
 margin:1.5em auto 2em;
 text-align:left;
}

.landing form label {
 font-weight: bold;
 font-size:0.85em;
 margin: 0.65em 0;
 display:block;
}

.landing form input {
 display:block;
 width:100%;
 border:1px solid #a1a1a1;
 border-radius:5px;
 background:#fff;
 box-shadow: 1px 1px 1px rgba(0,0,0,0.1);
 padding:8px;
 -webkit-appearance: none;
}

.landing form input:first-child {
 border-bottom:1px solid #a1a1a1;
}

.landing form input[type=submit] {
 display:block;
 -webkit-appearance: none;
 background:#849a7d;
 border-radius:5px;
 border:0;
 height: 34px;
 margin: 16px auto 20px;
 color:#fff;
 font-weight:600;
 box-shadow: 1px 1px 2px rgba(0,0,0,0.1);
}

#signup h2 {
 margin-bottom:.5em;
}

#signup label, #broadcast label {
 width: 6em;
 display: inline-block;
 vertical-align: middle;
}

#signup .fineprint {
 margin-bottom: 0em;
}

#decline p {
 margin: 1.5em 0 .8em 0em;
}

#signup button, #broadcast button, #login button {
 min-width: 5em;
 padding-left: 0:
 padding-right: 0;
 margin-right: 1.2em;
 vertical-align: middle;
}

#request-invite {
 margin: 1em;
}

#request-invite div, #request-invite ul {
 margin-bottom: 1em;
 max-width: 200em;
}

#request-invite input[type=text],
#broadcast input[type=text] {
 margin:0;
 width: 25em;
 border-top-right-radius: 3px;
 border-bottom-right-radius: 3px;
 border-top-left-radius: 3px;
 border-bottom-left-radius: 3px;
 margin: 0.5em 0.5em 0.5em 0;
}

#request-invite textarea {
 width: 100%;
}

#request-invite label {
 display: block;
}

.pending-account blockquote.review-text {
 margin-top: 1em;
}

.confirm-invite div {
 max-width: 100em;
}

.confirm-invite textarea {
 width: 100%;
}

.confirm-invite p {
 margin: 1em 0 1em 0;
}

.flash {
 font-weight: bold;
 clear:left;
 padding:1em;
 background: #daeec6;
 box-shadow: 1px 1px 1px rgba(0,0,0,0.1);
}

.err {
 background:#f7dada;
 padding: 1em;
}

.flash p {
 font-weight: normal;
}

@media (min-width:40em) {
 #biglogo {
  margin:2em 0 2em 2em;
  float:left;
 }

 .signup form {
  background:#fafafa;
  padding:1em;
  width:20em;
  margin:2em auto;
  border-radius:3px;
 }
 #about {
  clear:left;
  text-align: left;
  margin:2em;
  max-width:40em;
 }

 #about .big {
  font-size:1.85em;
 }
}

body.landing > p {
 width:90%;
 margin:15px auto;
 text-align: center;
}

#fund {
 background:#efd434;
 background-position: top right;
 background-size: 48em 9em;
 background-repeat: no-repeat;
 padding: 1em;
 position:relative;
 height: 9em;
}

#fund a {
 font-size: 1.2em;
 font-weight: bold;
 color: #000;
}

#fund a:hover {
 text-decoration: none;
}

#header {
 position: relative;
 z-index: 10;
 height: 2.9em;
 background: #f3f3f3; /* Old browsers */
 background: -moz-linear-gradient(top, #ffffff 0%, #ededed 100%); /* FF3.6+ */
 background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#ffffff), color-stop(100%,#ededed)); /* Chrome,Safari4+ */
 background: -webkit-linear-gradient(top, #ffffff 0%,#ededed 100%); /* Chrome10+,Safari5.1+ */
 background: -o-linear-gradient(top, #ffffff 0%,#ededed 100%); /* Opera 11.10+ */
 background: -ms-linear-gradient(top, #ffffff 0%,#ededed 100%); /* IE10+ */
 background: linear-gradient(top, #ffffff 0%,#ededed 100%); /* W3C */
 filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#ededed',GradientType=0 ); /* IE6-9 */
 box-shadow: 0 0 1px rgba(0,0,0,0.8);
}

body.splash #header {
 background: rgba(255,255,255,0.7);
 height: 3.5em;
 box-shadow: none;
}

body.splash #symbol {
 margin: 0.7em 1em;
}

#splashbox h2 {
 font-size: 2em;
}

#splashlogin p {
 margin: 0.5em 0 1em 0;
}

#splashlogin h3 {
 margin-top: 1em;
 font-weight: normal;
 font-size: 1.5em;
}

#splashbox > p {
 font-size: 1.5em;
}

#splashbox {
 background: rgba(255,255,255,0.85);
 padding: 2em;
 border-radius: 2em;
 box-shadow: 0.05em 0.05em 2em rgba(0,0,0,0.3);
 width: 54em;
 margin: 4em auto;
}

@media (max-width:50em) {
 #splashbox {
  width: 100%;
 }

 body.splash {
  background-size: auto;
 }
}

.splactions {
 padding-top: 2em;
 text-align: center;
}

.splactions.footer a {
 color: #ccc;
 font-size: 1.3em;
 padding: 0 .5em;
}

.splactions a.yes {
 margin: 0.5em;
 line-height: 4em;
}

#splashlogin {
 float: right;
 margin: 0 0.5em 0 2em;
}

#splashlogin label {
 display: block;
 font-size: 0.9em;
 font-weight: bold;
}

#splashlogin input, button.yes, button.cancel, a.yes, button.blue, a.blue {
 font-weight: bold;
 vertical-align: bottom;
 font-size: 1em;
 height: 2.5em;
 padding: 0.4em 0.4em;
 margin: 0.35em 0;
 border: 1px solid #444;
 border-radius: 0.25em;
 white-space: nowrap;
 box-shadow: 1px 1px 0px rgba(255,255,255,0.2), inset 1px 1px 0px rgba(209,209,209,0.3);
}

button.yes, a.yes {
 font-weight: bold;
 color: #fff;
 background: #96c42b;
 background: -moz-linear-gradient(
  top,
  #96c42b 0%,
  #6f9321);
 background: -ms-linear-gradient(
  top,
  #96c42b 0%,
  #6f9321);
 background: -o-linear-gradient(
  top,
  #96c42b 0%,
  #6f9321);
 background: -webkit-linear-gradient(
  top,
  #96c42b 0%,
  #6f9321);
 background: -webkit-gradient(
  linear, left top, left bottom, 
  from(#96c42b),
  to(#6f9321));
 border: 1px solid #474747;
 text-shadow:
  1px 1px 2px rgba(0,0,0,0.4);
  padding: 0.5em 0.7em;
}

button.red  {
 font-weight: bold;
 color: #fff;
 background: #f76959;
 background: -moz-linear-gradient(
  top,
  #f76959 0%,
  #c92020);
 background: -ms-linear-gradient(
  top,
  #f76959 0%,
  #c92020);
 background: -o-linear-gradient(
  top,
  #f76959 0%,
  #c92020);
 background: -webkit-linear-gradient(
  top,
  #f76959 0%,
  #c92020);
 background: -webkit-gradient(
  linear, left top, left bottom, 
  from(#f76959),
  to(#92020));
 border: 1px solid #474747;
 text-shadow:
  1px 1px 2px rgba(0,0,0,0.4);
  padding: 0.5em 0.7em;
}

button.red.simple-link {
 background: none;
 color: #900;
}

button.blue, a.blue {
 font-weight: bold;
 color: #fff;
 background: #3c6dc8;
 background: -moz-linear-gradient(
  top,
  #3c6dc8 0%,
  #29519c);
 background: -ms-linear-gradient(
  top,
  #3c6dc8 0%,
  #29519c);
 background: -o-linear-gradient(
  top,
  #3c6dc8 0%,
  #29519c);
 background: -webkit-linear-gradient(
  top,
  #3c6dc8 0%,
  #29519c);
 background: -webkit-gradient(
  linear, left top, left bottom, 
  from(#3c6dc8),
  to(#29519c));
 border: 1px solid #474747;
 text-shadow:
  1px 1px 2px rgba(0,0,0,0.4);
  padding: 0.5em 0.7em;
}

a.yes, a.blue {
 line-height: 2.5em;
 margin: 0.35em 0.5em 0.35em 0;
 height: auto;
}

button, .settings-item .content a {
 cursor:pointer;
 border-radius:3px;
}

button.gray {
 font-weight: bold;
 color: #fff;
 background: -moz-linear-gradient(
  top,
  #999 0%,
  #666);
 background: -ms-linear-gradient(
  top,
  #999 0%,
  #666);
 background: -o-linear-gradient(
  top,
  #999 0%,
  #666);
 background: -webkit-gradient(
  linear, left top, left bottom, 
  from(#999),
  to(#666));
 border: 1px solid #474747;
 text-shadow:
  1px 1px 2px rgba(0,0,0,0.4);
  padding: 0.5em 0.7em;
}

.gray-text {
 color: #999;
}

a.red {
 color: #900;
}

.red {
 color: #900;
}

.green {
 color:#5c8a2f;
}

button.yes:first-child {
 margin-left:0.4em;
}

.basics button.yes:first-child {
 margin-left: 0;
}

a + button.yes {
 vertical-align: middle;
 margin-left:1em;
}


button.yes:last-child {
 margin-right:0;
}

button.no {
 border:0;
 padding:0.5em;
 background: #a66;
 color: #fff;
 font-weight:bold;
 margin-right:1em;
}

button.link {
 border:0;
 padding:0.5em;
 background-color: transparent;
 font-weight:bold;
 margin-right:1em;
}

button.simple-link {
 border:0;
 background-color: transparent;
 font-size: inherit;
}

button.no-padding {
 padding: 0;
}

button.link:hover {
 text-decoration: underline;
}

button.cancel, input.cancel {
 font-weight: bold;
 color: #fff;
 background: -moz-linear-gradient(
  top,
  #999 0%,
  #666);
 background: -ms-linear-gradient(
  top,
  #999 0%,
  #666);
 background: -o-linear-gradient(
  top,
  #999 0%,
  #666);
 background: -webkit-gradient(
  linear, left top, left bottom, 
  from(#999),
  to(#666));
 border: 1px solid #474747;
 text-shadow:
  1px 1px 2px rgba(0,0,0,0.4);
  padding: 0.5em 0.7em;
}

a.cancel, button.cancel {
 margin-right:1em;
}

a.cancel {
 padding: 0.55em;
}

button.small, a.small {
 font-size: 0.8em;
 line-height: 1.1em;
 padding: 0.4em;
}

img.small {
 height: 1.2em;
 width: auto;
}

#splashlogin button {
 margin-left: 0.5em;
 width: 4.5em;
}

#splashlogin input:focus {
 border 1px solid #5be;
 box-shadow: 0 0 0.5em rgba(80,160,230,0.6) inset 0 1px 3px rgba(0,0,0,0.1);
}

#splashlogin input[type=text] {
 width: 15em;
 margin-bottom: 1em;
}

#splashlogin input[value=] {
 background: red;
}

#splashlogin input[type=password] {
 width: 10em;
}

#splashlogin button {
}

#preview {
 margin-top: 3em;
 background: #444;
 padding: 2em;
 box-shadow: 0 0 4em #000;
}

#preview h2, #screenshots h2 {
 color: #fff;
 text-align: center;
 font-size: 3em;
}

#preview > p, #screenshots > p {
 font-size: 1.3em;
 text-align: center;
 font-weight: bold;
 margin-bottom: 1.5em;
 color: #fff;
}

#preview-cards {
 column-fill: balance;
 -moz-column-fill: balance;
 -webkit-column-fill: balance;
 column-count: 3;
 -moz-column-count: 3;
 -webkit-column-count: 3;
}

#preview-cards .card {
 margin: 0 0 1em;
 padding: 0em 1.2em 1.2em 1.2em;
 border-radius: 0.6em;
 background: #fff;
 display: inline-block;
}

#preview-cards .card.offer {
 border-top: 0.5em solid #D8CF98;
}

#preview-cards .card.request {
 border-top: 0.5em solid #C29393;
}

#preview-cards .card.gratitude {
 border-top: 0.5em solid #76997F;
}

#preview-cards .card.joined {
 border-top: 0.5em solid #505791;
}

#screenshots {
 color: #fff;
 text-align: center;
 background: #444;
 padding: 2em;
}

#screenshots img {
 max-width: 100%;
}

#screenshots h2 {
 font-size: 3em;
}


@media (max-width:39em) {
 #splashbox {
  padding: 1em;
  background: none;
  margin: 0;
  box-shadow: none;
 }

 body.splash {
  background: none;
 }
}

@media (max-width:49em) {
 #preview-cards {
  column-count: 2;
  -moz-column-count: 2;
  -webkit-column-count: 2;
 }
}

@media (max-width:30em) {
 #splashbox h2 {
  margin-top: 2em;
  font-size: 1.5em;
 }
 #splashlogin {
  width: 15em;
  float: none;
  margin: 0;
 }
 #preview {
  margin-top: 0;
  box-shadow: none;
 }
 #preview-cards {
  column-count: 1;
  -moz-column-count: 1;
  -webkit-column-count: 1;
 }
}


#header h1 {
 color:#5c8a2f;
 margin:0.15em 0.6em;
 font-weight:bold;
}

#logo {
 z-index: 10;
 position: relative;
}

@media (min-width:47em) {
 #logo {
  width:8em;
  display: block;
 }
}


#symbol {
 z-index: 10;
 position: relative;
 width: 10em;
 margin: 0.5em 1em 0;
}

#header div {
 /*float:right;*/
 position:absolute;
 top:0;
 right:0;
}

#header div img {
 width: 2.3em;
 margin: 0.3em 0.65em;
}


@media (min-width:47em) {
 #header div {
  display:none;
 }
 #search strong {
  margin-right: 0.6em;
 }
}

#search {
/* white-space: nowrap;*/
 display:block;
 padding:1em 0.5em;
 background:#efefef;
}

#search select {
 margin:0;
 font-size: 1em;
 color:#666;
 border:0;
 background:none;
}

#body {
 padding: 1em;
}

#body > h2 {
 margin-bottom: 1.1em;
}

#search input[type=text] {
 margin:0;
 border-top-right-radius: 3px;
 border-bottom-right-radius: 3px;
 border-top-left-radius: 3px;
 border-bottom-left-radius: 3px;
 margin: 0.5em;
}

#search input {
 padding:0.5em;
 border: 1px solid #999;
 font-size: 1em;
 background: #fff;
}

#search input[type=submit] {
 border: none;
 -webkit-border-top-right-radius: 3px;
 -webkit-border-bottom-right-radius: 3px;
 -moz-border-radius-topright: 3px;
 -moz-border-radius-bottomright: 3px;
 border-top-right-radius: 3px;
 border-bottom-right-radius: 3px;
 -webkit-border-top-left-radius: 3px;
 -webkit-border-bottom-left-radius: 3px;
 -moz-border-radius-topleft: 3px;
 -moz-border-radius-bottomleft: 3px;
 border-top-left-radius: 3px;
 border-bottom-left-radius: 3px;
 font-weight:bold;
 color:#666;
 /*background:#375497;*/
 background:#eee;
 margin-left:0.2em;
 border: 1px solid #999;
 border-left: none;
}

@media (min-width:47em) {
 #search {
  position:absolute;
  top:0.25em;
  left:10.2em;
  width:40em;
  padding:0;
  z-index:10;
  text-align: right;
  background:none;
 }
 #search strong {
  display: none;
 }
 #search select {
  background: #f6f6f6;
  border:1px solid #999;
  border-right: 1px solid #ccc;
  padding: 0.5em;
  -webkit-border-top-left-radius: 3px;
  -webkit-border-bottom-left-radius: 3px;
  -moz-border-radius-topleft: 3px;
  -moz-border-radius-bottomleft: 3px;
  border-top-left-radius: 3px;
  border-bottom-left-radius: 3px;
 }
 #search input[type=text] {
  width:22em;
  border-left: none;
  border-right: none;
  margin: 0;
  -webkit-border-radius: 0;
  -moz-border-radius: 0;
  border-radius: 0;
 }
 #search input[type=submit] {
  -webkit-border-top-right-radius: 3px;
  -webkit-border-bottom-right-radius: 3px;
  -moz-border-radius-topright: 3px;
  -moz-border-radius-bottomright: 3px;
  border-top-right-radius: 3px;
  border-bottom-right-radius: 3px;
  -webkit-border-top-left-radius: 0;
  -webkit-border-bottom-left-radius: 0;
  -moz-border-radius-topleft: 0;
  -moz-border-radius-bottomleft: 0;
  border-top-left-radius: 0;
  border-bottom-left-radius: 0;
  margin-left: 0;
 }
}

#menu {
 padding-top: 1em;
 background:#f3f3f3;
 font-size: 1.3em;
}

#beta {
 padding: 1em 1em 0;
 color: #900;
}

#copyright {
 font-size: 0.85em;
 padding: 0 1em;
 color:#999;
}

#menu > a.dark {
 display:block;
 text-align:center;
 font-size: 0.9em;
 font-weight: bold;
 padding: 0.5em 0;
 background:#ccc;
}

.menu-showing {
 display: none;
}

#right {
 margin: 1em;
}

.icon {
 width: 1.875em;
 height: 1.875em;
}


@media (min-width:47em) {
 #menu {
  display:block;
  position:absolute;
  left:0;
  top:2.3em;
  margin-left:0;
  width:16em;
  z-index:6;
  font-size: 1em;
  background: none;
 }

 .icon {
  width: 1.47em;
  height: 1.47em;
 }

 #fund {
  margin-left: 16em;
 }

 #right {
  margin: 1em 1em 0 17em;
 }

 #full {
  margin-left: 16em;
 }

 .menu-button {
  display: none;
 }
 .menu-showing {
  display: inline;
 }

 #top {
  display:block;
  position:fixed;
  left:0;
  top:0;
  bottom:0;
  padding-top: 1em;
  margin-left:0;
  width:16em;
  background:#f9f9f9;
  z-index:1;
  box-shadow: 0 0 1px rgba(0,0,0,0.3);
 }

 #menu > a.dark {
  display:none;
 }

 .flash {
  margin-left:16em;
 }

 #full .profile {
  margin-top: 1.5em;
 }

 #body {
  margin-left:16em;
  /*box-shadow: -1px -1px 1px rgba(0,0,0,0.1);*/
  position:relative;
 }
}

#menu > table {
 margin:0.75em 0.75em 0;
}

#menu table img {
 max-width:50px;
 max-height:50px;
 display: block;
}

#menu > table tr:first-child td:first-child {
 width:62px
}

#menu table tr:first-child a {
 font-weight:bold;
}

#menu table tr:last-child a {
 padding: 2px;
}


#menu menu {
 margin:0;
 padding:0.8em 0 0 0;
 list-style-type:none;
}

#menu li {
 padding:0.5em 1em;
 font-size: 1em;
 font-weight: bold;
}

#menu .selected {
 background:#e1edc5;
 /*background: #eee;*/
}

#menu li img, a > img {
 margin:0 0.625em 0 0;
 vertical-align:middle;
}

menu .newcount {
 display:inline-block;
 padding: .17em .35em;
 margin-left: 1em;
 border-radius: 1.67em;
 background-color: #a6ddf3;
 color: #fff;
}

#fine-print-links {
 color: #999;
 width: 100%;
 margin: 1em auto;
 text-align: center;
}

#fine-print-links a {
 color: #999;
 display: inline-block;
 padding: .3em;
}

.activity {
 clear:left;
}

.white, .item {
 margin:1em 0;
}

.item {
 clear:left;
 padding-bottom: 1em;
 border-bottom: 1px solid #eee;
}

.item p:last-child {
 margin-bottom:0;
}

.item:first-child {
 margin: 0 0 1em;
}

.item:last-child {
 padding-bottom: 0;
 border-bottom: 0;
}

.item.confirm-unique-group p {
 max-width: 60em;
}

.item.create-event label,
.item.create-group label,
.item.confirm-delete label {
 display: block;
 font-weight: bold;
 margin-top: 0.5em;
}

.create-event input[type=text],
.create-event textarea,
.create-event select,
.create-group input[type=text],
.confirm-delete textarea {
 font-size: 1em;
 border: 1px solid #444;
 margin: .3em 0;
 font-weight: bold;
 padding: 0.4em 0.4em;
 border-radius: 0.25em;
 box-shadow: 1px 1px 0px rgba(255,255,255,0.2), inset 1px 1px 0px rgba(209,209,209,0.3);

}

.create-event input[type=text], .create-event select, .create-group input[type=text] {
 width: 30em;
 white-space: nowrap;
 height: 2.5em;
}

.create-event p, .create-group p {
 margin-top: 0.3em;
}

@media (max-width:28em) {
 .create-event input[type=text], .create-group input[type=text] {
  width: 100%;
 }
}

.event {
 margin: 0;
}

.event.right.item {
 font-size: 0.9em;
}

.event.activity h2 {
 margin-bottom: 0.6em;
}

h3.event-date, h3.my-invites {
 line-height: 2em;
 background: #f3f3f3;
 border-bottom-style: solid;
 border-width: 2px;
 border-color: #ddd;
 margin-top: 0;
 margin-left: -0.5em;
 padding-left: 0.5em;
 position: relative;
 top: -1px;
}

.event .event.card h3 {
 margin-top: 0.9em;
 font-size: 1.1em;
}

.event.item.right a.add {
 display: block;
 margin: 0.5em 0 0.8em 0;
 font-weight: bold;
}

.item .event.card h3 {
 margin-top: 0.2em;
}

.item .event.card p {
 margin-top: 0.5em;
}

.event.card strong {
 padding-right: .3em;
}

.event.card table {
 border-collapse: collapse;
}

.event.card td {
 vertical-align: top;
}

form.message-filter {
 margin-top: 1em;
}

form.message-filter label {
 font-weight: bold;
 margin-right: 0.8em;
}

.mail.card {
 margin: 0 -0.5em;
 padding: 0 0.5em;
 cursor: pointer;
}

table.messages {
 width: 100%;
 border-collapse: collapse;
}

.mail.card:last-child {
 border-bottom: 1px solid #eee;
}

.mail.card.menu {
 margin: 0.5em -0.5em 0.5em;
}

.mail.card.menu button.cancel {
 margin-right: 0.7em;
}

.mail.card h3.timestamp {
 margin-top: 0.2em;
 margin-bottom: 0.2em;
}

.mail.card td.message-selector {
 padding-right: 1em;
}

.mail.card .group-indicator {
 margin-left: 0.55em;
 border-radius:3px;
 padding: 0 0.3em;
 display: inline-block;
 background: #ae9fcd;
}

.mail.card .group-indicator a {
 color: #fcfbf5;
 text-decoration: none;
}

.mail.card input[type=checkbox] {
 vertical-align: middle;
}

.mail.card td.message-content {
 width: 100%;
 padding: 0.6em 0;
}
.mail.card p.people {
 margin: 0 0 0.2em;
}

.mail.card p.text {
 height: 1.7em;
 line-height: 1.5em;
 margin-top: 0;
 overflow: hidden;
}

.read.mail.card {
 background: #faf8f0;
}

.read.mail.card p.text > a {
 color: #666666;
}

.card {
 display: block;
 background: none;
 border: 0;
 width: 100%;
 text-align: left;
 position: relative;
 /*background: #FDF8E9;
 border-right: 1px solid #ECE3CB;*/
 border-bottom: 1px solid #eee;
 clear: both;
 padding: 0 0 1.25em 0;
 margin: 0.5em 0;
 overflow: hidden;
}

.card:last-child {
 border-bottom: none;
}

.card-details {
 overflow: hidden;
}

.person.card .card-button {
 float: right;
 height: 100%;
 position: relative;
 z-index: 10;
}

.card > .image {
 float: left;
 width: 7em;
 max-height: 7em;
 margin: 1em 1.75em 0.5em 1em;
 clear: left;
}

.card .image img {
 margin: 0 auto;
 display: block;
 max-width: 7em;
 max-height: 7em;
}

button.card > div.details {
 float: left;
 width: 12em;
 margin-right: .5em;
}

button.card > img {
 max-height: 13.5em;
 max-width: 20em;
 min-width: 10em;
}

.card p {
 /*margin-left: 8.5em;*/
}

.card p:last-child {
 margin-bottom: 0;
}

.card h3 {
 font-size: 1em;
 margin-top: 1.6em;
 /*margin-left: 8.5em;*/
}

.card .distance {
 font-size: 0.85em;
 /*margin-left: 10em;*/
 font-style: italic;
}

.card.event {
 margin: 0;
}

.login.item {
}

#login label, #login input {
 display: block;
}

#login a {
}

#login input[type=submit] {
 display: inline;
 margin-top: 0.6em;
}

#login label, #login input {
 display: block;
}

.small {
 font-size: 0.9em;
}

.item.reverse {
 background: #87a767;
}

.item.reverse * {
 color: #fff;
}

.item > p {
 margin:1em 0 0 0;
}

.item > form {
 margin:0.5em 0 0 0;
}

.item textarea {
 width:100%;
}

/*.item > h2 {
 margin-bottom: 0.75em;
}*/

.item > h3 {
 margin:1.5em 0 0.5em;
}

.item > h3:first-child {
 margin:0 0 0.5em;
}

.item menu ,
#right menu {
 list-style-type:none;
 /*margin:0.75em 0 0;*/
 margin:1em 0 0 0;
 padding:0;
}

.item :first-child {
 margin-top:0;
}

.item menu li,
#right menu li {
 margin: 0.5em 0;
}

@media (min-width:56em) {
 .profile .item.right {
  margin:50px 8px 8px;
 }

  menu.bar .no-rightbar {
  display:none;
 }

 #body {
  padding: 1em;
 }

 body.right #body {
  margin-right:21em;
 }

 #right {
  position: absolute;
  right: 0;
  top: 3em;
  background: #ffffff;
  padding: 0 1em 4em;
  margin: 1em 0;
  border-left: 1px solid #eee;
  border-bottom: none;
  float:right;
  width:21em;
  z-index:2;
 }

 body.right #full, body.right .flash {
  margin-right: 21em;
 }

}

@media (max-width:56em) {
 .item.right.only {
  display:none;
 }
}

.invite-members h3 {
 margin-bottom: 0.75em;
}

.invite-members input[type=text] {
 width: 14.3em;
 margin: 0 0.4em 0 0;
}

.invite-members button {
 font-size: 0.85em;
 margin: 0;
}

form.invite-member-result,
.invite-members form.member-to-admin {
 clear: both;
 max-width: 30em;
 min-width: 20em;
 border-bottom: 1px solid #eee;
 height: 9.5em;
}

div.revoke-admin-role li {
 list-style-type: disc;
}

div.admin-roles div.invite-members {
 margin-top: 1.25em;
}

div.admin-roles div.current-admin {
 max-width: 45em;
 border-bottom: 1px solid #eee;
}

div.current-admin .card {
 border-bottom: none;
 padding-right: 4.6em;
 z-index: -1;
}

form.invite-member-result .card,
form.member-to-admin .card,
div.admin-roles .card {
 max-width:30em;
 clear: none;
 position: relative;
}

form.member-to-admin .card,
form.invite-member-result .card {
 padding-bottom: 0;
 height: 100%;
}

form.invite-member-result .image {
 margin: 1em 0.75em 0.5em 0;
}

form.member-to-admin .card-details,
form.invite-member-result .card-details {
 max-width: 17.6em;
 min-width: 7em;
}

div .members-tab {
 padding-left: 0;
 font-size: 1.2em;
}

div.members-tab.invite-members {
 max-width: 31em;
 padding-right: 1em;
}

div.members-tab.membership-requests h3 {
 clear: both;
 white-space: nowrap;
}

div .current-members {
 line-height: 1.5em;
}

div.membership-request {
 width: 100%;
 clear: both;
 overflow: hidden;
 max-height: 4.8em;
}

div.membership-request:after {
 clear: both;
}

div.membership-request div.avatar {
  display: inline-block;
  height: 100%;
  float: left;
  margin-right: 0.3em;
}

div.membership-request img {
 width: 100%;
 max-height: 100%;
}

div.membership-request div.request-name {
  height: 100%;
  overflow: hidden;
}

div.membership-request div.member-approval {
  height: 100%;
  float: right;
}

div.membership-request button {
 height: 2em;
 line-height: 1em;
 padding-bottom: 0.6em;
 margin-right: 0.3em;
}

div.membership-request button:last-child {
 margin-right: 0;
}

.mail.card div.membership-request {
 max-width: 50em;
}

.mail.card div.membership-request div.member-approval-ui {
 width: 13.4em;
}

.mail.card div.membership-request p.member-request-details {
 margin-top: 0;
}

.right div.membership-request {
 margin-top: 0.2em;
 height: 4em;
}

.right div.membership-request div.avatar {
 width: 4em;
 max-height: 4em;
}

.right div.request-name {
 max-width: 7.55em;
}

.right div.membership-request div.request-name a {
 display: inline-block;
 max-height: 3em;
 line-height: 1em;
 overflow: hidden;
}

.members-tab div.membership-request {
  margin-top: 0.5em;
  height: 4.5em;
  max-width: 30em;
}

.members-tab div.avatar {
  width: 4.5em;
}

.members-tab div.request-name {
  min-width: 6em;
  margin-right: 0.2em;
}

@media (max-width:30em) {
 div.invite-members .card .image {
 width:30%;
 max-width: 10em;
 margin-right: 0.75em;
 }
 div.invite-members .card .image  img {
 max-width:100%;
 max-height: auto;
 }
 div.invite-members .card .details {
 width:70%;
 }
 div.membership-request {
  border-bottom: 1px solid #eeeeee;
  min-width: 15em;
 }
 div.membership-request:last-child {
  border-bottom: none;
 }
 div.membership-requests .member-approval-ui {
  width: 3.93em;
  overflow: visible;
 }
 .mail.card div.member-approval-ui {
   max-width: 7.2em;
   overflow: visible;
 }
 .mail.card div.membership-request {
   min-width: 17em;
 }
}

.card blockquote {
 position:relative;
 margin:1em 0;
 padding:0;
}

.card blockquote:before {
 content:"“";
 position:absolute;
 top:-0.35em;
 left:-0.75em;
 color:#bbb;
}

.card blockquote:after {
 content:"”";
 position:absolute;
 bottom:-0.75em;
 right:-1em;
 color:#bbb;
}

.card .actions {
 clear: left;
 /*margin-top: 2em;
 position:relative;
 /*border-top:1px solid #dfdfdf;
 padding-top:5px;*/
 color:#aaa;
 text-align: right;
}

.card a {
 font-weight: bold;
}

button::-moz-focus-inner,
input::-moz-focus-inner {
 padding:0;
 border:0;
}

.card .icons {
 position:absolute;
 left: 0;
 /*color:#375497;*/
 color:#5c8a2f;
 font-size:0.9em;
}

.card .icons img {
 width:1em;
 height:1em;
 vertical-align:middle;
 margin:0 0.5em 0 0.75em;
}

.card .icons img:first-child {
 margin-left: 0;
}

.card .icons span {
 margin:0 0.8em 0 0;
}

.actions > form, .basics > form, menu.horiz form {
 display:inline;
}

.basics form {
 margin-right: 0.5em;
}

.basics form:last-child {
 margin-right: 0;
}

.actions > form input, button.text, menu.horiz form input {
 cursor:pointer;
 margin:0;
 padding:0;
 border:0;
 background:none;
 color:#5c8a2f;
 /*color:#375497;*/
 font-size: 1em;
}

.actions > form input, button.text {
 font-size:0.8em;
}

.card .actions a {
 font-size: 0.8em;
 font-weight: normal;
}

.inline {
 display: inline;
}

.inline-block {
 display: inline-block;
}

button.text.large {
 font-size:1.1em;
}

.card .timestamp, .item .distance {
 font-size: 0.8em;
 margin: 1.4em 0 0.5em 1em;
 font-weight: normal;
 float: right;
 color:#666;
 /*margin-left: 10.7em;*/
}

.card .right {
 font-size: 0.8em;
 margin: 0 0 0.5em 1em;
 font-weight: normal;
 clear: right;
 float: right;
 /*margin-left: 10.7em;*/
}

.card h3.timestamp a {
 font-weight: normal;
 color:#666;
}

.item .timestamp a {
 font-weight: normal;
 color:#666;
}

.item h3 a {
 font-weight: bold;
}

.item p a:not(.yes):not(.blue) {
 font-weight: normal;
}

img.bigavatar {
 -moz-transform:rotate(-2deg);
 -webkit-transform:rotate(-2deg);
 -o-transform:rotate(-2deg);
 border:0.5em solid #fff;
 box-shadow:2px 2px 3px #c0c0c0;
 margin: 0 1em 1em;
 max-width:14em;
 max-height:14em;
 float:left;
}

.small-activity-image div.border {
 float: left;
 border:5px solid #fff;
 box-shadow:2px 2px 3px #c0c0c0;
 margin: 0 0.6em 0.6em 0;
 max-width:7.15em;
 min-height:77px;
 max-height:6.15em;
}

.small-activity-image img {
 max-height:65px;
}

.submit-image span {
 font-weight: bold;
 margin-right: 1em;
}

div.submit-image {
 float:right;
 display:inline-block;
}

.submit-image input[type=file] {
 display:inline-block;
}

form.submit-image:after {
 clear: both;
}

div.activity.images {
 overflow: hidden;
}

div.activity-image {
 float: left;
 border:8px solid #fff;
 box-shadow:2px 2px 3px #c0c0c0;
 margin: 0 0.6em 0.6em 0;
 height: 296px;
 max-width: 316px;
}

.activity-image img {
 max-height: 280px;
}

.id-bar {
 background: #fafafa;
 padding: 0.7em 0.7em 0.7em 1em;
 border-bottom: 1px solid #eee;
 font-size: 1.3em;
 font-weight: bold;
}

.id-bar a {
 text-decoration: none;
}

.id-bar img {
 max-height: 2em;
 width: auto;
}

.basics h1 {
 font-size: 1.8em;
 font-weight:normal;
 margin: 0.85em 0 0.25em;
}

.new-gratitude button.yes {
 margin-left: 0.7em;
 padding-top: 0;
 padding-bottom: 0;
 vertical-align: baseline;
}

.profile .city {
 font-size:0.9em;
 color:#666;
 margin:0.5em 0;
}

.profile .bio {
 overflow:hidden;
 margin:0.4em 0.6em 1em 0;
}

.profile .section {
 clear:both;
}

.people ul {
 list-style-type:none;
 padding:0;
}

.people li {
 margin:5px;
}

#my-invites ul {
 padding-left:0;
}

#my-invites form {
 display: inline-block;
 vertical-align: middle;
}

#my-invites button {
 margin-right: 0.7em;
 padding: 0 0.3em;
 font-size: 0.8em;
}

#my-invites li {
 padding: 0.2em 0;
 border-bottom: 1px solid #eee;
}

div.activity ul.mutuals-list {
 padding: 0;
 margin-left: 0.6em;
 font-size: 1.2em;
 line-height: 1.5em;
}

.section {
 padding:10px;
 margin:10px;
 background:#fff;
 border-radius:3px;
}

.section .person img {
 width:40px;
 height:40px;
 vertical-align:middle;
 margin: 4px 10px 4px 0;
}


@media (max-width:28em) {
 .profile img {
  width:120px;
  height:120px;
 }

 .profile .bio {
  overflow:hidden;
  clear:both;
  margin:0 10px;
 }

}

@media (min-width:28em) and (max-width:47em) {
 .profile img {
  width:150px;
  height:150px;
 }
}

#profileinfo {
 padding:10px;
 background:#ccc;
 border-radius:3px;
 margin:10px;
}

a {
 color:#5c8a2f;
 /*color: #375497;*/
 text-decoration:none;
}

a:visited {
 /*color: #714EB4;*/
 /*color: #5C4C97;*/
}
/* */

/*
#menu a:visited {
 color: #375497;
}*/

.error {
 font-weight:bold;
 color:#a00;
 /*font-size:0.9em;*/
}

h3.label {
 display:none;
}

menu.bar {
 list-stype-type:none;
 margin:0;
 padding:0;
 clear:left;
 border-bottom: 1px solid #eee;
 margin-bottom: 1em;
}

menu.bar li {
 display:inline-block;
 background:#eee;
 border:1px solid #eee;
 border-bottom: none;
 margin: 1em 0 0 0.5em;
 padding:0.5em;
 border-top-left-radius:3px;
 border-top-right-radius:3px;
 font-weight:bold;
 position: relative;
 top: 1px;
}

menu.bar li.selected {
 background:#fff;
 border-bottom: 1px solid #fff;
}

menu.bar li a {
 font-weight:bold;
}

@media (max-width:28em) {
 menu.bar {
  text-align:center;
 }
}

.setup {
 max-width: 40em;
}

.item h3, .category h3 {
 margin-top: 0.5em;
 line-height: 2em;
}

.setup p {
 line-height:1.5em;
}

.setup input[type=text] {
 margin-right: 0.7em;
 width:35em;
 max-width: 100%;
}

.setup button {
 vertical-align: middle;
}

#guest-actions {
 margin: 0.5em 0.75em 0.25em;
 font-size: 1.5em;
 font-weight: bold;
 text-align: center;
}

.welcome {
 background: #FFFAE8;
 font-size: 0.9em;
 padding: 1em;
 border-bottom: 1px solid #eee;
 border-right: 1px solid #eee;
 margin-right: -1px;
}

.welcome button {
 float: right;
 background: none;
 border: 0;
 color: #8f844f;
 font-weight: bold;
 margin: 0;
 padding: 0;
}

.welcome li {
 list-style-type: disc;
 margin-top:0.75em;
}

.welcome p {
 margin-bottom: 0;
}

div.settings-item.content > a {
 margin: 0 0 1.3em 0.7em;
}

.actions input[type=submit]:hover, button:hover {
 text-decoration:underline;
}

div.activity-image {
 margin: 1em 1em 1em 0;
 position: relative;
 display: inline-block;
}

.activity-image form {
 position: absolute;
 top: .5em;
 right: .4em;
}

.activity-image button.simple-link {
 font-weight: bold;
 text-shadow: .1em .1em .05em #eee, -.1em -.1em .05em #eee, .1em -.1em .05em #eee, -.1em .1em .05em #eee;
}

.category {
 margin-top:0.5em;
}

.category a {
 white-space: nowrap;
}

#edit-tags blockquote.review-text {
 margin: .5em 0 .5em 0;
}

blockquote.review-text {
 margin: 0;
 background: #f8f8f8;
 padding: .5em;
 border-radius: .25em;
 border-style: solid;
 border-width: 1px;
 border-color: #bbb;
}

div.tag {
 display: inline-block;
 width: 11em;
 margin: 0.5em 0;
}

div.tag input:checked + span {
 font-weight: bold;
}

ul.keywords {
 padding-left: 1em;
 margin:0 0 1.5em 0;
}

ul.keywords li {
 margin:0.5em 0;
}

ul.keywords li a:first-child {
 font-weight:bold;
}

p.right {
 text-align:right;
}

p.right {
 text-align:right;
}

table.post {
 margin:0;
 padding:0;
 border-collapse: collapse;
}

table.post td {
 vertical-align:bottom;
 border:0;
}

form.post-next h2 {
 margin: 0.75em 0;
}

form.recipients, div.recipients {
 overflow: hidden;
}

form.recipients label {
 display: block;
 float: left;
 width: 4em;
 height: 100%;
}

form.recipients label.from {
 position: relative;
 top: 0.95em;
}

form.recipients, menu.recipients {
 display: block;
 margin: 0;
}

menu.recipients {
 float: left;
}

li.recipients:last-child {
 margin-top: -0.5em;
}

form.recipients menu.recipients li {
 vertical-align: top;
}

form.recipients button.x-remove {
 margin-left: 0.3em;
 vertical-align: top;
}

select.recipients {
 margin-top: 0.5em;
}

.person-list img {
 display: block;
 float: left;
 width: 5em;
 height: 5em;
 clear: left;
 margin: 2em 0;
}

.person-list p {
 margin-left: 5em;
}

.bio .icon {
 margin-left: 0.5em;
 opacity: 0.6;
}

.bio .icon:hover {
 opacity: 1.0;
}

.bio .empty {
 font-style: italic;
 color: #888;
}

.bio-section {
 margin-top: 1em;
}

.bio-section textarea {
 width: 100%;
 max-width: 40em;
 height: 7em;
 margin: 1em 1em 0 0;
 vertical-align: bottom;
}

.bio-section button {
 vertical-align: baseline;
}

.submit-settings {
 float: right;
 margin-bottom: .8em;
 position: relative;
 top: -.5em;
}

.settings p {
 margin: 1.1em 0;
}

.address input[type=text]{
 width: 20em;
}

.settings-item {
 max-width: 60em;
}

.settings-item .title {
 width: 6.25em;
 background: #f2f2f2;
 font-weight: 500;
 font-size: 1em;
 padding: .25em .5em;
 border-radius: .125em;
 clear: both;
 float: left;
}

.settings-item .content {
 margin: 0 .5em 1.5em 8em;
 display: block;
 position: relative;
 top: .2em;
}

.settings-item ul, .settings-item p {
 margin: 0;
 padding-left: 0;
 margin-bottom: 0.5em;
 width: 100%;
}

.settings-item li {
 margin-bottom: .6em;
}

.settings-item div.button {
 display: block;
 float: right;
}

.settings-item li > a {
 display: inline;
 font-weight: 500;
 font-size: .9em;
 float: none;
 margin-left: .8em;
}

.settings-item li > button.simple-link {
 margin-left:0;
 font-weight: 500;
 font-size: .9em;
 padding:0.2em;
}

.settings-item  span {
 margin: 0 1.1em 0 0;
 padding: 0;
}

.settings-item li > button {
 margin-left: 1em;
 font-size: .9em;
 padding: .3em .5em;
}

div.settings p.help-text {
 margin-top: 0.4em;
 max-width: 55em;
}

.help-text {
 color: #777;
 clear: both;
}

.settings-item .password label {
  width: 20em;
  padding-right: .5em;
  display: block;
  margin: .4em 0 .3em 0;
}

.settings-item .password input[type=password] {
 width: 20em
}

.settings-item .password input[type=text] {
 width: 20em
}

.reset-password button {
 margin: .7em 0 .7em 0;
}

.search h2 {
 padding: 0.25em;
 margin: 0 -0.25em;
 background: #eee;
 border-bottom: 2px solid #aaa;
}

form.rdist.search {
 float: right;
 position:relative;
 top: -0.15em;
}

.more-results {
 margin-bottom: 0.9em;
}

/*
.search h2 a:visited {
 color: #375497;
}*/

body.donate {
 background: #eee;
}

.donate #letter {
 padding: 4em 30em 0 12em;
}

.donate #letter h2 {
 border-bottom: 2px solid #aaa;
 margin-bottom: 0.5em;
 padding-bottom: 0.5em;
}

.donate #donate {
 background: #fff;
 width: 27em;
 margin: 2em auto;
 padding: 2em 2em 2em 2.5em;
}

#donate > a:first-child > img {
 width: 10em;
 margin-bottom: 1em;
}

#donate h2 {
 margin-bottom: 0.5em;
 font-size: 2em;
}

#donate h3 {
 margin: 0.5em 0;
}

#donate button {
 outline: medium none;
 padding: 0.25em 0.1em;
 background: -moz-linear-gradient(center bottom, rgba(0, 0, 0, 0.1) 0%, rgba(255, 255, 255, 0.1) 100%) repeat scroll 0 0 #008FC5;
 background: -ms-linear-gradient(center bottom, rgba(0, 0, 0, 0.1) 0%, rgba(255, 255, 255, 0.1) 100%) repeat scroll 0 0 #008FC5;
 background: -webkit-linear-gradient(center bottom, rgba(0, 0, 0, 0.1) 0%, rgba(255, 255, 255, 0.1) 100%) repeat scroll 0 0 #008FC5;
 border: 2px solid #7EC7E2;
 color: #fff;
 border-radius: 0.35em;
 font-weight: bold;
 font-size: 1.75em;
 width: 4em;
 margin: 0 0.25em 0.4em 0;
 white-space: nowrap;
}

#donate button[disabled] {
 background: -moz-linear-gradient(center bottom, rgba(0, 0, 0, 0.1) 0%, rgba(255, 255, 255, 0.1) 100%) repeat scroll 0 0 #c5c5c5;
 background: -ms-linear-gradient(center bottom, rgba(0, 0, 0, 0.1) 0%, rgba(255, 255, 255, 0.1) 100%) repeat scroll 0 0 #c5c5c5;
 background: -webkit-linear-gradient(center bottom, rgba(0, 0, 0, 0.1) 0%, rgba(255, 255, 255, 0.1) 100%) repeat scroll 0 0 #c5c5c5;
 background: -o-linear-gradient(center bottom, rgba(0, 0, 0, 0.1) 0%, rgba(255, 255, 255, 0.1) 100%) repeat scroll 0 0 #c5c5c5;
 border: 2px solid #e2e2e2;
}

#donate button.nav {
 display: block;
 margin: 1em auto;
 width: 6em;
}

#donate button[value=other] {
 width: 8.25em;
}

#donate ul {
 width: 100%;
 margin: 0;
 padding: 0;
 display: inline-block;
}

#donate li {
 display: inline-block;
 vertical-align: top;
}

#donate input, #donate select {
 color: #000;
 background: #eee;
 border: 2px solid #aaa;
 border-radius: 3px;
 padding: 0.5em 0.25em;
 font-size: 1.1em;
 width: 100%;
}

#donate select {
 font-size: 1.05em;
}


#donate li.quarter {
 margin: 0.5em 0.5em 0.5em 0;
 padding: 0;
 width: 5em;
}

#donate li.half {
 margin: 0.5em 0.5em 0.5em 0;
 padding: 0;
 width: 10.5em;
}

#donate li.full {
 margin: 0.5em 0 0.5em 0;
 padding: 0;
 width: 21.5em;
}

#donate label {
 display: block;
 margin-bottom: 0.25em;
 font-weight: bold;
}

.legal {
 max-width: 800px;
 width: 100%;
 line-height: 1.4em;
 padding-right: .8em;
 font-size: 1em;
}

.legal li {
 list-style-type: inherit;
}

.legal ol {
 list-style-type: decimal;
 padding-left: 1.5em;
}

.legal li > ol {
 padding-left: 1.5em;
}

.legal ul {
 list-style-type: disc;
 padding-left: 1.2em;
}

.legal p, .legal li {
 margin-top: 10px;
}

#privacy ol {
 list-style-type: lower-alpha;
}

#privacy li > ul {
 list-style-type: none;
}

#privacy ol > li {
 margin-top: 0;
 padding-bottom: .5em;
}

.faq li {
 list-style-type: disc;
 padding-bottom: .35em;
}

.faq p {
 margin-top: .6em;
}

#questions li {
 list-style-type: none;
 padding-bottom: .35em;
}

#questions ul {
 padding-left: 1em;
 margin-top: .25em;
}

#admin-page ul {
 padding-left: 0;
}

#admin-page li {
 font-size: 1.3em;
 line-height: 2.5em;
}

.card .people a {
 white-space: nowrap;
}

.card .text span {
 font-weight: bold;
 color: #666;
}

.card .text .title span.none {
 font-weight: normal;
 font-style: italic;
 color: #666;
}

.card .text > a {
 color: #333;
 font-weight: normal;
}

.card .text > a:hover {
 text-decoration: none;
}

.comments {
 background: #f9f9f9;
 margin: 1em 2em;
 max-width: 40em;
 padding: 0 1em 0.1em;
}

.item.reply:first-child {
 padding-top: 1em;
}

input[name=reply] {
 font-weight: bold;
}

.nobody {
 font-weight: bold;
 font-style: italic;
 color: #666;
}

#site-error {
 text-align: center;
 margin: 2em;
}

.float-right {
 float: right;
}

.float-left {
 float: left;
}

.clear {
 clear: both;
}

.bold {
 font-weight:bold;
}

.middle {
 vertical-align: middle;
}

.v-align-container {
 display: table;
 width: 100%;
 height: 100%;
}

.v-align-cell {
 display: table-cell;
 vertical-align: middle;
 height: 100%;
}

.spinner {
   height:30px;
   width:30px;
   margin:0 auto;
   vertical-align: middle;
   display: none;
   position:relative;
   -webkit-animation: rotation .6s infinite linear;
   -moz-animation: rotation .6s infinite linear;
   -o-animation: rotation .6s infinite linear;
   animation: rotation .6s infinite linear;
   border:6px solid rgba(100,100,100,.15);
   border-radius:100%;
}

.spinner:before {
   content:"";
   display:inline;
   position:absolute;
   left:-6px;
   top:-6px;
   height:100%;
   width:100%;
   border-top:6px solid rgba(150,150,150,.8);
   border-left:6px solid transparent;
   border-bottom:6px solid transparent;
   border-right:6px solid transparent;
   border-radius:100%;
}

@-webkit-keyframes rotation {
   from {-webkit-transform: rotate(0deg);}
   to {-webkit-transform: rotate(359deg);}
}
@-moz-keyframes rotation {
   from {-moz-transform: rotate(0deg);}
   to {-moz-transform: rotate(359deg);}
}
@-o-keyframes rotation {
   from {-o-transform: rotate(0deg);}
   to {-o-transform: rotate(359deg);}
}
@keyframes rotation {
   from {transform: rotate(0deg);}
   to {transform: rotate(359deg);}
