* {
 box-sizing: border-box;
 -moz-box-sizing: border-box;
 -webkit-box-sizing: border-box;
 -webkit-appearance: none;
 font-family: Verdana, Terminus, "Helvetica Neue", Verdana, Ubuntu, sans-serif;
}

body {
 padding:0;
 margin:0;
 background:#f2f2f2;
 width:100%;
}


body.landing {
 text-align:center;
}

#biglogo {
 display:block;
 width:226px;
 height:43px;
 margin:31px auto 33px;
}

#login {
 width:90%;
 margin:32px auto;
 border:1px solid #a1a1a1;
 border-radius:5px;
 background:#fff;
 box-shadow: 1px 1px 2px rgba(0,0,0,0.1);
}

#login input {
 border-radius:0;
 width:100%;
 border:0;
 margin:0;
 padding:8px;
 background:none;
 box-shadow:none;
 -webkit-appearance: none;
}

#login input:first-child {
 border-bottom:1px solid #a1a1a1;
}

body.landing form > input {
 display:block;
 -webkit-appearance: none;
 background:#849a7d;
 border-radius:5px;
 border:0;
 height: 34px;
 width:90%;
 margin: 16px auto 28px;
 color:#fff;
 font-weight:600;
 box-shadow: 1px 1px 2px rgba(0,0,0,0.1);
}

body.landing p {
 width:90%;
 margin:15px auto;
}

body.landing menu {
 list-style-type:none;
 margin:20px auto;
 padding:0;
 width:90%
}

body.landing li {
 display:inline;
 margin:0 20px;
}

#header {
 width:100%;
 height:46px;
 background:#eaeaea;
 /*background:#eee;*/
}

#header h1 {
 color:#5c8a2f;
 margin:0.15em 0.6em;
 font-weight:bold;
}

#header > a > img {
 width:135px;
 height:26px;
 margin: 10px 0 0 8px;
}

#header div {
 /*float:right;*/
 position:absolute;
 top:0;
 right:0;
}

@media (min-width:52em) {
 #header div {
  display:none;
 }
}

#header div img {
 margin:8px 8px 8px 2px;
 width:30px;
 height:30px;
}

#search {
 display:block;
 padding:0.5em;
 margin-top:6px;
}

@media (min-width:45em) {
 body {
  margin-top:55px;
 }

 #header {
  position:fixed;
  top:0;
  left:0;
  z-index:9;
 }

 #search {
  position:fixed;
  top:-1px;
  right:38px;
  width:400px;
  padding:0 0.5em;
  z-index:10;
 }
}

@media (min-width:52em) {
 #search {
  right:0;
 }
}

#search table, #search td:first-child, #search td:first-child input {
 width:100%;
}

#search input {
 padding:6px 8px;
 border:0/*1px solid #aaa*/;
 border-radius:3px;
 height:32px;
 background:#fafafa;
}

#search input[type=submit] {
 margin-left: 5px;
 font-weight:bold;
 color:#000;
 background:#ccc;
}

#menu {
 background:#f2f2f2;
}

#copyright {
 font-size: 0.85em;
 padding: 0 1em;
 color:#999;
}

#menu > a {
 display:block;
 text-align:center;
 font-size: 0.9em;
 font-weight: bold;
 padding: 0.5em 0;
 background:#ddd;
}

@media (min-width:52em) {
 #menu {
  display:block;
  position:fixed;
  left:0;
  top:46px;
  bottom:0;
  padding-top: 1em;
  margin-left:0;
  width:16em;
  background:#eee;
 }

 #menu > a {
  display:none;
 }

 #header {
  margin-left:0;
 }

 #full {
  margin-left:16em;
 }

 #full .profile {
  margin-top: 4.5em;
 }

 #body {
  margin-left:16em;
  position:relative;
 }
}

#menu > table {
 width:100%;
 margin:0 0.5em;
}

#menu table img {
 width:50px;
 height:50px;
}

#menu > table tr:first-child td:first-child {
 width:62px
}

#menu table tr:first-child a {
 font-weight:bold;
}

#menu menu {
 margin:0;
 padding:10px 0 0 0;
 list-style-type:none;
}

#menu li {
 padding:6px 12px;
 font-size: 1em;
 font-weight: bold;
}

#menu li.selected {
 background:#e1edc5;
}

#menu li img {
 margin:0 10px 0 0;
 vertical-align:middle;
}

#body {
 margin-top: 0.6em;
}

.activity {
 clear:left;
}

.item {
 clear:left;
 background:#fcfcfc;
 margin:0 0.6em 0.6em;
 padding:0.6em;
 border-radius:0.3em;
}

.item h3 {
 margin:0 0 0.5em;
}

.item menu {
 list-style-type:none;
 margin:0.75em 0 0;
 padding:0;
}

.item menu li {
 margin: 0.5em 0;
}

@media (min-width:66em) {
 .profile .item.right {
  margin:50px 8px 8px;
 }

  menu.bar .notonly {
  display:none;
 }

 body.right #body {
  margin-right:17.4em;
 }

 #right {
  position: absolute;
  top:0;
  right:-17.4em;
  width:18em;
 }
}

@media (max-width:65em) {
 .item.right.only {
  display:none;
 }
}

.activity blockquote {
 position:relative;
 margin:12px 24px;
 padding:0;
 font-size:0.95em;
}

.activity blockquote:before {
 content:"“";
 font-size:2em;
 position:absolute;
 top:-0.35em;
 left:-0.5em;
 color:#ddd;
}

.activity blockquote:after {
 content:"”";
 font-size:2em;
 position:absolute;
 bottom:-0.75em;
 right:-0.5em;
 color:#ddd;
}

.activity .actions {
 position:relative;
 border-top:1px solid #dfdfdf;
 margin:0 3px;
 padding-top:5px;
 color:#aaa;
}

.activity .icons {
 position:absolute;
 right:0;
 top:0.5em;
 color:#5c8a2f;
 font-weight:bold;
 font-size:0.9em;
}

.activity .icons img {
 width:16px;
 height:16px;
 vertical-align:middle;
 margin:0 5px 0 12px;
}

.actions > form, .basics > form {
 display:inline;
}

.actions > form input {
 margin:0;
 padding:0;
 border:0;
 background:none;
 color:#5c8a2f;
 font-size:0.9em;
 font-weight:bold;
}

.basics > form input {
 margin:0.45em 0.65em 0.55em 0;
 padding:0.35em 0.5em;
 background:#5c8a2f;
 border:0;
 border-radius:4px;
 color:#fff;
 font-size:0.9em;
 font-weight:bold;
}

.activity .timestamp {
 color:#666;
 font-style:italic;
 font-size:0.8em;
 font-weight:normal;
 margin: 0 0 0.5em;
}

.activity a {
 font-weight: bold;
}

.profile {
 position:relative;
}

.profile > img {
 -moz-transform:rotate(-2deg);
 -webkit-transform:rotate(-2deg);
 -o-transform:rotate(-2deg);
 border:6px solid #fff;
 box-shadow:2px 2px 3px #c0c0c0;
 margin:0 15px 15px;
 width:200px;
 height:200px;
 float:left;
}

.basics h1 {
 font-size: 1.3em;
 font-weight:normal;
 margin: 0.85em 0 0.25em;
}

.profile .city {
 font-size:0.9em;
 color:#666;
 margin:0.5em 0;
}

.profile .bio {
 overflow:hidden;
 margin:0.4em 0.6em 1em 0;
}

.profile .section {
 clear:both;
}

.people ul {
 list-style-type:none;
 padding:0;
}

.people li {
 margin:5px;
}

.section {
 padding:10px;
 margin:10px;
 background:#fff;
 border-radius:3px;
}

.section .person img {
 width:40px;
 height:40px;
 vertical-align:middle;
 margin: 4px 10px 4px 0;
}


@media (max-width:28em) {
 .profile img {
  width:120px;
  height:120px;
 }

 .profile .bio {
  overflow:hidden;
  clear:both;
  margin:0 10px;
 }

}

@media (min-width:28em) and (max-width:48em) {
 .profile img {
  width:150px;
  height:150px;
 }
}

#profileinfo {
 padding:10px;
 background:#ccc;
 border-radius:3px;
 margin:10px;
}

.icon {
 width:20px;
 height:20px;
}

a {
 color:#5c8a2f;
 text-decoration:none;
}

.error {
 font-weight:bold;
 color:#a00;
 font-size:0.9em;
}

h3.label {
 display:none;
}

menu.bar {
 list-stype-type:none;
 margin:0;
 padding:0;
 clear:left;
}

menu.bar li {
 display:inline-block;
 background:#e6e6e6;
 margin:8px 0 0 8px;
 padding:8px;
 border-radius:3px;
 font-weight:bold;
}

menu.bar li.selected {
 background:#fcfcfc;
}

menu.bar li a {
 font-weight:bold;
}

@media (max-width:28em) {
 menu.bar {
  text-align:center;
 }
}

input[type=submit] {
 cursor:pointer;
}

img {
 border:0;
}

li {
 list-style-type: none;
}

hr {
 display: none;
}

h2 {
 font-size: 1.2em;
 margin:0;
}

.unicon {
 font-size: 1.6em;
 vertical-align: middle;
 font-weight:normal;
}
