;;; Copyright 2012-2013 CommonGoods Network, Inc.
;;;
;;; This file is part of Kindista.
;;;
;;; Kindista is free software: you can redistribute it and/or modify it
;;; under the terms of the GNU Affero General Public License as published
;;; by the Free Software Foundation, either version 3 of the License, or
;;; (at your option) any later version.
;;;
;;; Kindista is distributed in the hope that it will be useful, but WITHOUT
;;; ANY WARRANTY; without even the implied warranty of MERCHANTABILITY or
;;; FITNESS FOR A PARTICULAR PURPOSE.  See the GNU Affero General Public
;;; License for more details.
;;;
;;; You should have received a copy of the GNU Affero General Public License
;;; along with Kindista.  If not, see <http://www.gnu.org/licenses/>.

(in-package :kindista)

(defparameter *show-errors* t)
(defparameter *convert-path* "/usr/bin/convert")
(defparameter *original-images* "/srv/kindista/data/images/")
(defparameter *images-path* "/srv/kindista/media/images/")
(defparameter *images-base* "/media/images/")
(defparameter *avatar-not-found* "/media/avatar/404.png")
(defparameter *error-message-email* "email@your-email-service.com")

(define-constant +db-path+ "/srv/kindista/data/" :test #'string=)
(define-constant +markdown-path+ "/srv/kindista/src/markdown/" :test #'string=)
(define-constant +avatar-base+ "/media/avatar/" :test #'string=)
(define-constant +avatar-path+ "/srv/kindista/media/avatar/"; <- trailing slash
                 :test #'string=)
(define-constant +mail-server+ "localhost" :test #'string=)
(define-constant +base-url+ "http://kindista.local/" :test #'string=)
(define-constant +kindista-id+ 0 :test #'eql)

